
<div id="column">
    <div class="sponsors">
        <h2 class="title">最火图片</h2>
        <ul id="banner125">
            #foreach($p in $model.l)
            <li><a href="#"><img src="thumbnail.ashx?u=$p.PUrl&w=125&h=125" style="width:125px;height:125px;" alt=""></a></li>
            <!--style="width:125px;height:125px;"-->
            #end
        </ul>
        <div class="clear"></div>
    </div>
    <div class="holder flickrbox">
        <h2 class="title">Flickr</h2>
        <div class="wrap">
            <div class="fix"></div>
            <div class="flickr_badge_image" id="flickr_badge_image1"><a href="#"><img src="images/demo/80x80.gif" alt="" height="80" width="80"></a></div>
            <div class="flickr_badge_image" id="flickr_badge_image2"><a href="#"><img src="images/demo/80x80.gif" alt="" height="80" width="80"></a></div>
            <div class="flickr_badge_image" id="flickr_badge_image3"><a href="#"><img src="images/demo/80x80.gif" alt="" height="80" width="80"></a></div>
            <div class="flickr_badge_image" id="flickr_badge_image4"><a href="#"><img src="images/demo/80x80.gif" alt="" height="80" width="80"></a></div>
            <div class="flickr_badge_image" id="flickr_badge_image5"><a href="#"><img src="images/demo/80x80.gif" alt="" height="80" width="80"></a></div>
            <div class="flickr_badge_image" id="flickr_badge_image6"><a href="#"><img src="images/demo/80x80.gif" alt="" height="80" width="80"></a></div>
            <div class="fix"></div>
        </div>
    </div>
    <div class="holder twitterbox">
        <h2 class="title">Twitter</h2>
        <ul id="twitter_update_list">
            <li><span>@<a href="#">name</a> Lacuspretium justo ris adipis mi temper mus ut elis nam cras.</span> <a style="font-size: 85%;" href="#">about 4 hours ago</a></li>
            <li><span>@<a href="#">name</a> Pharetraenim orci vel nulla nisl augue vel netus tellus augue nec.</span> <a style="font-size: 85%;" href="#">about 5 hours ago</a></li>
            <li><span>@<a href="#">name</a> Eulorem sit congue curabitur sagittis cursuscetus fringilla dui tellus pretium enim.</span> <a style="font-size: 85%;" href="#">about 7 hours ago</a></li>
        </ul>
    </div>
</div>
