<div class="wrapper col3">
    <div id="copyright">
        <ul>
            <li>Copyright &copy; 2011 - All Rights Reserved - <a href="#">Domain Name</a></li>
            <li><a target="_blank" rel="nofollow" href="http://validator.w3.org/check?uri=referer">Valid XHTML</a></li>
            <li><a target="_blank" rel="nofollow" href="http://jigsaw.w3.org/css-validator/check/referer">Valid CSS</a></li>
            <li class="last">当前在线人数：$!photos.count</li>
        </ul>
    </div>
</div>
</body>
</html>
