<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta http-equiv="imagetoolbar" content="no" />
    <link rel="stylesheet" href="styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="styles/2col.css" type="text/css" />
    <link rel="stylesheet" href="styles/gallery.css" type="text/css" />
    
</head>
<body id="top">
    <div class="wrapper col1">
        <div id="head">
            <h1><a href="#">Gallery</a></h1>
            <p>Free CSS Website Template</p>
            <div id="topnav">
                <ul>
                    <li><a class="active" href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="page.html">Page</a></li>
                    <li>
                        <a href="#">DropDown</a>
                        <ul>
                            <li><a href="#">Link 1</a></li>
                            <li><a href="#">Link 2</a></li>
                            <li><a href="#">Link 3</a></li>
                        </ul>
                    </li>
                    <li class="last"><a href="#">Gallery</a></li>
                </ul>
            </div>
        </div>
    </div>
