#parse("front/header.html")
<script src="../../script/jquery-2.1.4.js"></script>
<script type="text/javascript">
    $(function () {
        //$("#next").click(function () {
        //    $.get("index.ashx?pageIndex=" + (pageIndex + 1));
        //});
    })
    //var pageIndex = 1;
</script>
<div class="wrapper col2">
    <div class="container">

        <div id="gallery">
            <ul>
                #foreach($p in $photos.listCount)
                <li>
                    <div class="name">$p.PTitle</div>
                    <div class="screen"><a href="photo-${p.PId}.htm"><img src="thumbnail.ashx?u=$p.PUrl&w=200&h=200" alt="" style=""></a></div>
                    <div class="vote">
                        <ul>
                            <li><a href="#"><img src="images/stars/yellow_star.gif" alt=""></a></li>
                            <li><a href="#"><img src="images/stars/green_star.gif" alt=""></a></li>
                            <li><a href="#"><img src="images/stars/green_star.gif" alt=""></a></li>
                            <li><a href="#"><img src="images/stars/green_star.gif" alt=""></a></li>
                            <li><a href="#"><img src="images/stars/green_star.gif" alt=""></a></li>
                            <li><a href="#"><img src="images/stars/green_star.gif" alt=""></a></li>
                            <li><a href="#"><img src="images/stars/green_star.gif" alt=""></a></li>
                            <li><a href="#"><img src="images/stars/green_star.gif" alt=""></a></li>
                            <li><a href="#"><img src="images/stars/green_star.gif" alt=""></a></li>
                            <li class="last"><a href="#"><img src="images/stars/green_star.gif" alt=""></a></li>
                        </ul>
                        <div class="totalvotes">1/10 from 1 Votes</div>
                    </div>
                </li>
                #end
            </ul>

            <div class="pagination">
                <ul>
                    <li class="firstpage"><a id="first" href="javascript:void(0);">First</a></li>
                    <li><a id="pre" href="javascript:void(0);">« Previous</a></li>
                    
                    <li id="now" class="current">1</li>
                    
                    
                    <li><a id="next" href="javascript:void(0);">Next »</a></li>
                    <li class="lastpage"><a id="last" href="javascript:void(0);">Last</a></li>
                </ul>
            </div>
        </div>

        #parse("front/center-right.html")
        <div class="clear"></div>
    </div>
</div>

#parse("front/footer.html")
