#parse("front/header.html")
<script src="../../script/jquery-2.1.4.js"></script>
<script type="text/javascript">
    $(function () {
        
    })
    
</script>
<div class="wrapper col2">
    <div class="container">

        <div id="gallery">
            <ul>
                #foreach($p in $photos.listCount)
                <li>
                    <div class="name">$p.PTitle</div>
                    <div class="screen"><a href="photo-${p.PId}.htm"><img src="thumbnail.ashx?u=$p.PUrl&w=200&h=200" alt="" style=""></a></div>
                    <div class="vote">
                        <ul>
                            <li><a href="#"><img src="images/stars/yellow_star.gif" alt=""></a></li>
                            <li><a href="#"><img src="images/stars/green_star.gif" alt=""></a></li>
                            <li><a href="#"><img src="images/stars/green_star.gif" alt=""></a></li>
                            <li><a href="#"><img src="images/stars/green_star.gif" alt=""></a></li>
                            <li><a href="#"><img src="images/stars/green_star.gif" alt=""></a></li>
                            <li><a href="#"><img src="images/stars/green_star.gif" alt=""></a></li>
                            <li><a href="#"><img src="images/stars/green_star.gif" alt=""></a></li>
                            <li><a href="#"><img src="images/stars/green_star.gif" alt=""></a></li>
                            <li><a href="#"><img src="images/stars/green_star.gif" alt=""></a></li>
                            <li class="last"><a href="#"><img src="images/stars/green_star.gif" alt=""></a></li>
                        </ul>
                        <div class="totalvotes">1/10 from 1 Votes</div>
                    </div>
                </li>
                #end
            </ul>

            <div class="pagination">
                <ul>
                    <li class="firstpage"><a href="#">First</a></li>
                    <li><a href="#">« Previous</a></li>
                    <li><a href="#">1</a></li>
                    <li class="current">2</li>
                    <li><a href="#">3</a></li>
                    <li class="divider">…</li>
                    <li><a href="#">18</a></li>
                    <li><a href="#">19</a></li>
                    <li><a href="#">20</a></li>
                    <li><a href="#">Next »</a></li>
                    <li class="lastpage"><a href="#">Last</a></li>
                </ul>
            </div>
        </div>

        #parse("front/center-right.html")
        <div class="clear"></div>
    </div>
</div>

#parse("front/footer.html")
