<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="RewriterConfig" type="URLRewriter.Config.RewriterConfigSerializerSectionHandler, URLRewriter" />
  </configSections>
  <RewriterConfig>
    <Rules>
      <RewriterRule>
        <LookFor>~/photo-(\d{1,6})\.htm</LookFor>
        <SendTo>~/details.ashx?id=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/index.htm</LookFor>
        <SendTo>~/index.ashx</SendTo>
      </RewriterRule>
    </Rules>
  </RewriterConfig>
  
  <system.web>
    <!--<customErrors mode="On" defaultRedirect="error.html">
      <error statusCode="404" redirect="404.html"/>
    </customErrors>-->
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424">
      
    </sessionState>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <add name="conStr" connectionString="Data Source=dell;Initial Catalog=MyPhotos;Persist Security Info=True;User ID=sa;Password=889521"/>
  </connectionStrings>
  <system.webServer>
    <handlers>
      <add name="w" verb="*" path="images/*.jpg" type="WM"></add>
    </handlers>
    <modules>
      <add name="fdl" type="FDL"/>
      <add name="Rewrite" type="UrlReWrite"/>
      <add type="URLRewriter.ModuleRewriter, URLRewriter" name="ModuleRewriter" />
    </modules>
  </system.webServer>
  
  
</configuration>
