#include("admin/header.html")
<script src="../script/jquery-2.1.4.js"></script>
<script type="text/javascript">
    $(function () {
        $("#submit").click(function () {
            var pType = $("#pType").val();
            if (pType == -1) {
                alert("请选择相册");
                return false;
            }
            var pTitle = $("#pTitle").val();
            if (pTitle == "") {
                alert("照片名称不能为空");
                return false;
            }
            var pUrl = $("#pUrl").val();
            if (pUrl=="") {
                alert("路径不能为空");
                return false;
            }
            return true;
        });

    });
</script>
<form method="post" action="PhotoEdit.ashx?action=add">
    <input type="hidden" name="_viewstate" value="a" />
    <table width="500px" border="1">
        <tr>
            <td>
                相册
            </td>
            <td>
                <select id="pType"  name="PhotoType">
                    <option value="-1">请选择相册</option>
                    #foreach($pt in $model.list)
                    <option value="$!pt.TypeId">$pt.TypeName</option>
                    #end
                </select>
            </td>
        </tr>
        <tr>
            <td>
                标题
            </td>
            <td>
                <input id="pTitle" value="$!model.p.PTitle" type="text" name="PTitle" />
            </td>
        </tr>
        <tr>
            <td>
                路径
            </td>
            <td>
                <input id="pUrl" value="$!model.p.PUrl" type="text" name="PUrl" />
            </td>
        </tr>
        <tr>
            <td>
                描述
            </td>
            <td>
                <input type="text" value="$!model.p.PDes" name="PDesc" />
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input id="submit" type="submit" value="提交" />
            </td>

        </tr>
    </table>
</form>


#include("admin/footer.html")