#include("admin/header.html")

<form action="PhotoEdit.ashx?action=update&pId=$model.p.pId" method="post">
    <input type="hidden" name="_viewstate" value="a" />
    <table width="500px" border="1">
        <tr>
            <td>
                相册
            </td>
            <td>
                <select id="pType" name="PhotoType">

                    #foreach($pt in $model.list)
                        #if($pt.TypeId==$model.p.PTypeId)
                        <option selected="selected" value="$pt.TypeId">$pt.TypeName</option>
                        #else
                        <option value="$pt.TypeId">$pt.TypeName</option>
                        #end
                    #end
                </select>
            </td>
        </tr>
        <tr>
            <td>
                标题
            </td>
            <td>
                <input id="pTitle" value="$!model.p.PTitle" type="text" name="PTitle" />
            </td>
        </tr>
        <tr>
            <td>
                路径
            </td>
            <td>
                <input id="pUrl" value="$!model.p.PUrl" type="text" name="PUrl" />
            </td>
        </tr>
        <tr>
            <td>
                描述
            </td>
            <td>
                <input type="text" value="$!model.p.PDes" name="PDesc" />
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input id="submit" type="submit" value="提交" />
            </td>

        </tr>
    </table>
</form>

#include("admin/footer.html")
