#include("admin/header.html")
<script src="../script/jquery-2.1.4.js"></script>
<script type="text/javascript">
    $(function () {
        $("#btn").click(function () {
            var p = $("#txt").val();
            window.location.href = "index.ashx?page=" + p;
        })
    })
</script>
<a href="PhotoEdit.ashx?action=add">添加</a>
<table id="tb">
    <tr>
        <th>序号</th>
        <th>标题</th>
        <th>图片</th>
        <th>点击次数</th>
        <th>赞</th>
        <th>反对</th>
        <th>时间</th>
        <th>操作</th>
    </tr>
    <!--用模板-->
    #set($flag=0)
    #foreach($p in $data.list)
    #set($flag=$flag+1)
    <tr>
        <td>$flag</td>
        <td>$p.PTitle</td>
        <td>$p.PUrl</td>
        <td>$p.PClicks</td>
        <td>$p.PUp</td>
        <td>$p.PDown</td>
        <td>$p.PTime</td>
        <td><a href="PhotoEdit.ashx?action=update&pId=$p.pId">编辑</a> <a href="PhotoEdit.ashx?action=delete&pId=$p.pId" onclick="return confirm('真的要删除吗？')">删除</a><a href="down.ashx?u=$p.PUrl">下载</a></td>
    </tr>
    #end
</table>
#*
    1、在模板中写页码
    2、在一般处理程序中调用分页方法，得到分页数据 页码总数，将值传给模板
    3、在模板中填写数据
    4、在一般处理程序中对传入的数据进行接受，并加载数据
*#

<a href="index.ashx?page=1">第一页</a>
#set($ps=$data.pageIndex)
#if($ps>1)
    #set($ps=$ps - 1)
    
#else
    #set($ps=1)
#end
<a href="index.ashx?page=$ps">上一页</a>
#set($px=$data.pageIndex)
#if($px=$data.pageCount)
  #set($px=$data.pageCount)
#else
    #set($px=$px+1)
#end
<a href="index.ashx?page=$px">下一页</a>
<a href="index.ashx?page=$data.pageCount">尾页</a>$data.pageIndex/$data.pageCount
<input style="width:40px" id="txt" type="text" value="$!data.pageIndex" /><input type="button" value="go" id="btn" />
#include("admin/footer.html")
