<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    ${data.name}hn <br />
    ##$data.age<br />
    $!data.hobby

    #set($name="马化腾")
    $name
    <br />

    #set($n=1)
    #set($n=$n+1)
    $n<br />
    <ul>
        #set($array=["qwe","asd","zxc"])
        #foreach($arr in $array)
        <li>$arr</li>
        #end
    </ul>

    <br />
    #set($age=20)
    #if($age>10)
        <b>大于10</b>
    #else
        <b>小于10</b>
    #end
</body>
</html>
